<launch>

    <!-- play back messages from bag file -->
    <arg name = "bag_directory" default="$(find ias0220_224772_sensor)/bags/" />
    <arg name = "filename" default="shortBag.bag" />

    <!-- rosbag node republishes messages on a loop -->
    <node pkg="rosbag" type="play" name="player" output="screen" args="-l $(arg bag_directory)$(arg filename)"/>

    <!-- place your code here to launch an rviz node for visualizing IMU data... --> 
    <node name="rviz" pkg="rviz" type="rviz" args="--display-config $(find ias0220_224772_sensor)/config/task6-1.rviz" />
</launch>

