<launch>

    <!-- play back messages from bag file -->
    <arg name = "bag_directory" default="$(find ias0220_sensors)/bags/" />
    <arg name = "filename" default="file_name.bag" />

    <!-- rosbag node republishes messages on a loop -->
    <node pkg="rosbag" type="play" name="player" output="screen" args="-l $(arg bag_directory)$(arg filename)"/>

    <!-- place your code here to launch an rviz node for visualizing IMU data... --> 


</launch>

